body, html, div, iframe, img {
    border: none;
    padding: 0;
    margin: 0;
}
a{text-decoration: none;}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    z-index: 3;
    background-color: rgb(6, 126, 167);
}
    header .logo{
        height: 40px;
        float: left;
        margin-left: 5px;
        position: absolute;
    }
        header .logo img{
            height: 30px;
            width: 30px;
            margin-top: 5px;
            
        }
        header .logo span{
            display: block;
            float: right;
            color: whitesmoke;
            font-weight: bold;
            font-size: 20px;
            margin: 6px;
        }
nav {
    position: absolute;
    float: left;
    right: 18px;
    top: 0;
    z-index: 4;
}
    nav a :hover{
        outline-style: solid;
        outline-color: rgba(245,245,245,0.5);
        outline-width: 1px;
        outline-offset: 3px;
    }
    nav #controls{
        height: 20px;
        margin-top: 10px;
        float: right;
        margin-right: 10px;
    }

            
	
#controls_windows {
    display: none;
    position: absolute;
    background-color: rgba(245,245,245,0.5);
    top: 40px;
    right: 5px;
    width: 20%;
    height: 60%;
    border: 0px solid honeydew;
    border-radius:5px;
    z-index: 13;
}


#controls_windows button{
        background: rgb(6, 126, 167);
        color: #fff;
        cursor: pointer;
        display: block;
        margin: 3px 2px;
        border-radius:5px;
        border: none;
        float: left;
        position: relative;
    }
    
    #controls_windows button:hover{
            background: rgb(6, 106, 139);
        }

    #ctname {
        display: block;
        font-weight: bold;
        margin: 3px 2px;
        position: relative;
        float: right;
        
    }

    
    #layers_windows {
        display: none;
        position: absolute;
        background-color: rgba(245,245,245,0.5);
        top: 40px;
        right: 5px;
        width: 20%;
        height: 60%;
        border: 0px solid honeydew;
        border-radius:5px;
        z-index: 13;
    }

    #map {
        width: 100%;
        position: absolute;
        top: 40px;
        bottom: 0px;
        left: 0px;
    }